

   /*=============================================================================================================================
 									max-width: 1409px Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 1409px){

}
 /*=============================================================================================================================
 									max-width: 1409px End
 ==============================================================================================================================*/


  /*=============================================================================================================================
 									max-width: 1199px   Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 1199px){
		/* =========================   NAVBAR   ========================= */
		.navIcon {
			display: block;
		}
		.blackBG {
			position: fixed;
			top: 0;
			bottom: 0;
			right: -100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 2;
		}
		.blackBGActive {
			right: 0;
		}
		.navbar {
			width: 450px;
			position: fixed;
			right: -450px;
			top: 0;
			height: 100vh;
			background-color: var(--theme-white);
			flex-direction: column;
			justify-content: flex-start;
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			z-index: 3;
		}
		.navbarActive {
			right: 0px;
		}
		.navItem {
			font-size: 16px !important;
			margin: 20px 0px;
			color: var(--theme-black)
		}
		.Close {
			display: block;
			align-items: start !important;
			font-size: 35px;
			margin: 25px 0;
		}

}
  /*=============================================================================================================================
 									max-width: 1199px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
									max-width: 991px   Start
==============================================================================================================================*/
 @media only screen  and (max-width: 991px) {

	.sliderTxt{font-size: 14px;}
	
	.mrg_tb{margin: 60px 0px;}
	.mrg_t{margin-top: 60px;}
	.mrg_b{margin-bottom: 60px;}
	
	/* =========================   Animation   ========================= */
	.circleAnimation1, .circleAnimation2, .circleAnimation3, .circleAnimation4, .circleAnimation5{
		display: none;
	}
	/* =========================   Heading   ========================= */
	.heading{
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.heading > h2{font-size: 24px;}
	.Line200{width: 120px;height: 4px;margin-bottom: 4px;}
	.Line100{width: 60px;height: 4px;}

	/* =========================   cusBtn   ========================= */
	.cusBtn{font-size: 12px;}
	.cusBtn:before {
		width: 120%;
		height: 250%;
	}
	.cusBtn:after {
		width: 120%;
		height: 250%;
	}
	.navIcon {
		font-size: 24px !important;
		margin-left: 50px;
		padding: 8px 16px;
	}

	/* =========================   NAVBAR   ========================= */
	.footBg{
		height: 475px;
		background-size: cover;
	}
}
/*=============================================================================================================================
									max-width: 991px   End
==============================================================================================================================*/
  /*=============================================================================================================================
  Max-Width: 767px   Start
  ==============================================================================================================================*/
  @media only screen and (max-width: 767px){
	.sliderTxt{font-size: 12px;}
	/* =========================   Navbar   ========================= */
	.navbar {
		width: 400px;
		right: -400px;
	}
	.navbarActive {right: 0px;}

	.f-14{font-size: 12px;}
	.f-24{font-size: 20px;}
	.f-30{font-size: 28px;}
	.PresaleHead{font-size: 20px;}
	.counter{
		height: 60px;
		width: 60px;
	}
	.calcBtn{
		height: 60px;
		width: 40px;
	}
	.clacFrame{
		height: 60px;
		width: 90px;
	}

	/* =========================   About Us   ========================= */
	.aboutHead{font-size: 19px;}
	.aboutPeta{font-size: 14px}
	/* =========================   Roadmap   ========================= */
	.f-16{font-size: 15px;}
}
  /*=============================================================================================================================
 									Max-Width: 767px   End
 ==============================================================================================================================*/

 /*=============================================================================================================================
 									Max-Width: 600px   Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 600px){
	/* =========================   Navbar   ========================= */
	.navbar {
		width: 350px;
		right: -350px;
	}
	.navbarActive {right: 0px;}
	/* =========================   Heading   ========================= */
	.heading > h2{font-size: 22px;}
	.Line200{width: 100px;height: 4px;margin-bottom: 4px;}
	.Line100{width: 50px;height: 4px;}
	.right_line{margin-right: 10px}
	.left_line{margin-left: 10px}
}
  /*=============================================================================================================================
 									Max-Width: 600px   End
 ==============================================================================================================================*/

  /*=============================================================================================================================
 									Max-Width: 575px   Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 575px){
	/* =========================   Navbar   ========================= */
	.navbar {
		height: 100%;
		width: 300px;
		right: -300px;
	}
	.navbarActive {right: 0px;}
	/* =========================   Heading   ========================= */
	.heading > h2{font-size: 21px;}
	.Line200{width: 80px;height: 3px;margin-bottom: 3px;}
	.Line100{width: 40px;height: 3px;}
	.right_line{margin-right: 10px}
	.left_line{margin-left: 10px}
	/* =========================   Main Banner   ========================= */
	.scrollCircle{
		height: 50px;
		width: 50px;
	}
	.scollIcn{height: 20px;}

	.copyrights{font-size: 12px;}
}
  /*=============================================================================================================================
 									Max-Width: 575px   End
 ==============================================================================================================================*/
 @media only screen and (max-width: 450px){
	.f-15{font-size: 14px;}
	/* =========================   Heading   ========================= */
	.heading > h2{font-size: 20px;}
	.Line200{width: 70px;height: 3px;margin-bottom: 3px;}
	.Line100{width: 36px;height: 3px;}
	.right_line{margin-right: 8px}
	.left_line{margin-left: 8px}
	/* =========================   cusBtn   ========================= */
	.cusBtn{font-size: 12px;}
	.cusBtn:before {
		width: 115%;
		height: 250%;
	}
	.cusBtn:after {
		width: 115%;
		height: 250%;
	}
	.navIcon {
		font-size: 20px !important;
		margin-left: 40px;
		padding: 8px 16px;
	}

	/* =========================   About Us   ========================= */
	.aboutHead{font-size: 17px;}
}
  /*=============================================================================================================================
 									Max-Width: 425px   Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 425px){
	/* =========================   Heading   ========================= */
	.heading > h2{font-size: 20px;}
	.Line200{width: 60px;height: 3px;margin-bottom: 3px;}
	.Line100{width: 30px;height: 3px;}
	.right_line{margin-right: 5px}
	.left_line{margin-left: 5px}
	/* =========================   cusBtn   ========================= */
	.cusBtn{
		font-size: 10px;
		white-space: nowrap;
	}
	.cusBtn:before {
		width: 110%;
		height: 250%;
	}
	.cusBtn:after {
		width: 110%;
		height: 250%;
	}
	.navIcon {
		font-size: 20px !important;
		margin-left: 30px;
		padding: 8px 12px;
	}

	/* =========================   About Us   ========================= */
	.aboutHead{font-size: 16px;}
	.aboutPeta{font-size: 13px}
}
  /*=============================================================================================================================
 									Max-Width: 425px   End
 ==============================================================================================================================*/

  /*=============================================================================================================================
 									Max-Width: 375px   Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 375px){

	/* =========================   Navbar   ========================= */
	.navbar {
		width: 270px;
		right: -270px;
	}
	.navbarActive {right: 0px;}
	/* =========================   Heading   ========================= */
	.heading > h2{font-size: 20px;}
	.Line200{width: 46px;height: 3px;margin-bottom: 3px;}
	.Line100{width: 20px;height: 3px;}
	/* =========================   Main Banner   ========================= */
	.scrollCircle{
		height: 40px;
		width: 40px;
	}
	.scollIcn{height: 16px;}
}
  /*=============================================================================================================================
 									Max-Width:   375px   End
 ==============================================================================================================================*/

   /*=============================================================================================================================
 									Max-Width: 320px   Start
 ==============================================================================================================================*/
 @media only screen and (max-width: 320px){

}
  /*=============================================================================================================================
 									Max-Width: 320px   End
 ==============================================================================================================================*/




